body {
}

.hero {
  margin: 30px;
  text-align: center;
  background-color: #feffdf;
  padding-top: 25px;
  padding-bottom: 50px;
  border-radius: 10px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 58px;
  margin-top: 10%;
}

.home-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.contact-button {
  border-color: grey;
  background-color: #dde0ab;
}

.content {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.homepage-image-two {
  height: 400px;
}

.homepage-image-three {
  height: 400px;
}

.byme {
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.code-link {
  color: black;
}

.about-me {
  text-align: left;
}

.about-image-one {
  height: 400px;
}

.about-first-row {
  max-width: 80%;
  margin-right: 0%;
  margin-left: 10%;
}

.paragraph-one {
  max-width: 35%;
}

.row {
  text-align: center;
}

img {
  height: 400px;
  padding: 20px 5px;
  border-radius: 10px;
}
