body {
}

.navbar {
  background-color: #feffdf;
}

.hero {
  margin: 30px;
  text-align: center;
  background-color: #feffdf;
  padding-top: 25px;
  padding-bottom: 50px;
  border-radius: 10px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 58px;
  margin-top: 10%;
}

h2 {
  font-weight: 200;
  font-size: 24px;
}

.home-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.contact-button {
  border-color: grey;
  background-color: #dde0ab;
  margin-top: 15px;
}

.content {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.about-me {
  text-align: left;
  margin-left: 25px;
}

.about-first-row {
  max-width: 80%;
  margin-right: 0%;
  margin-left: 10%;
}

.row {
  text-align: center;
}

img {
  height: 400px;
  padding: 20px 5px;
}

.contact-info {
  text-align: center;
}
.contact-link {
  color: black;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }

  .about-first-row {
  }

  .about-me {
    text-align: center;
  }
}
