body {
}

.hero {
  margin: 30px;
  text-align: center;
  background-color: #feffdf;
  padding-top: 25px;
  padding-bottom: 50px;
  border-radius: 10px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 58px;
  margin-top: 10%;
}

.home-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.contact-button {
  border-color: grey;
  background-color: #dde0ab;
}

.content {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.homepage-image-two {
  height: 400px;
}

.homepage-image-three {
  height: 400px;
}

.byme {
  text-align: center;
  font-family: monospace;
  margin-top: 50px;
}

.code-link {
  color: black;
}
